html
    head
        title = name
    body
        h1 Greetings from #{name}
        br
        a(href= url) URL
        img(src="/images/river.jpg", alt="rivers")
        br
        div.
            the application is running good.
            and on port 3000